<h1> Names </h1>

<%=nameData[0].name%> 
<p></p>

<a href="/insert">insert hard coded value</a>

<form method="GET" action="/delete">
    <input name="myNameGet">
    <input type="submit" value="Save">
</form>

<p></p>

<form method="POST" action="/delete/<%=nameData[0]._id%>">
    <%=nameData[0].name%>
    <p>action="/delete/<%=nameData[0]._id%>"</p>
    <input type="submit" value="delete first name">
</form>

<p></p>
