<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Needs to be the same as whats in the title for app.js -->
    <title>My Cool EJS Page</title>
</head>
<body>
    <!-- Use (https)/ejs to find the ejs webpage -->
    <h1> IN EJS RENDER</h1>

    <h2>POST METHOD</h2>
    <form method="POST" action="saveName">
        <input name="myName">
        <input type="submit" value="Save">
    </form>

    <h3>GET METHOD</h3>
    <form method="GET" action="saveNameGet">
        <input name="myNameGet">
        <input type="submit" value="Save">
    </form>

</body>
</html>