<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool EJS Page</title>
    <!-- Needs to be the same as whats in the title for app.js -->
</head>
<body>
    
    <h1> IN EJS RENDER</h1>

</body>
</html>